<%-include("../partials/header",{title: "Dashboard"}) %> 

<h1>Your Groups</h1>
<% var netPay = 0; %> 
<div class="mb-3">
    <% for(let group of groups){ %> 
        <div class="card p-3 col-sm-4 col-md-2">
            <img class="img-fluid rounded-start mb-1" src="<%=group.image.url%>" alt="">
            <p class="text-center"><a class="nav-link" href="/groups/<%=group._id %>"><%=group.name %></a></p>
            <%const amount = group.users.find(user => user.uid.toString()===currentUser._id.toString()).netPay  %> 
            <% netPay +=amount %> 
            <span class="text-center" style="color: <%=amount>=0?`green`:`red`%>; font-weight:bold;"> <%=amount %> </span>
        </div>
    <% } %> 
</div>

<h3 class="mb-3" style="color: <%=netPay>=0?`green`:`red`%>; font-weight:bold;"> 
    <%=netPay>=0 ? `Net Paid ${netPay}`: `Net Borrowed ${-netPay}` %> 
</h3>

<div class="">Your Transactions: </div>
<% for(let transaction of transactions){ %> 
    <div class="card p-1">
        <% if(transaction.kind==="paid"){%>
            <div class="">
                <%=transaction.sender.name %> -> <%=transaction.receiver.name %>   Rs. <%=transaction.amount %> on <%=transaction.createdOn.toLocaleString() %> 
            </div>
        <% }else{ %>
            <div class="">
                <%=transaction.receiver.name %> <- <%=transaction.sender.name %>   Rs. <%=transaction.amount %> on <%=transaction.createdOn.toLocaleString() %>  
            </div>
        <% } %>
        <div class="">
            <%= transaction.description %> 
        </div>
    </div>
<% } %> 

<%-include("../partials/footer") %> 